/*	CONFIG
	====== */
/*	TYPOGRAPHY
	========== */
/*	LAYOUT
	====== */
/* Site breakpoints */
/* 400px divided by 16px */
/* 600px divided by 16px */
/* 800px divided by 16px */
/* 1000px divided by 16px */
/* The padding on u-lHeader, u-lMain, u-lFooter, and u-NavSite. */
/* COLOR 
	====== */
/* Basic link colors - these colors also affect the Google Search result link colors */
/* MODULES
	======== */
/* Bios */
/* Breadcrumbs  */
/* Footer */
/* Images */
/*	Google search results  */
/* Currently being overridden by something in Google's default CSS */
/* The numbers that represent pages of search results */
/* Nav */
/* level 3 covers Level 3 and up. */
/* LATEST Modules basic */
/* Use these variables to place a bg color on side news announcement items */
/* News  */
/* Not sure all these color settings are necessary
$u-ArticleListItem__label--type--color:;
$u-ArticleListItem__label--dateline__posted--color:;
$u-ArticleListItem__label--dateline__postedDate--color:f; */
/* LATEST Moved to Module Basic above
$u-NewsList__itemContainer--margin: 1em 0;
$u-NewsList__item--background: transparent;
$u-NewsList__item--padding: 0; */
/*	Search
	------ */
/*	Up until this point, the search box will be positioned
	over the masthead, so as not to overlap it. This point
	depends on how wide the site masthead is. Keep increasing it
	until the search box no longer overlaps the masthead.
*/
/*	Mobile search colors
	-------------------- */
/*	Mobile menu colors
	------------------ */
/* $MenuBtnColor--activated: #000; */
/*	Mobile search and menu colors
	----------------------------- */
/* The background color of a button, when activated */
/*	Mobile search colors
	-------------------- */
/* The background of the "Vassar College" area */
/* The background of the search and menu buttons */
/* The color of the search icon and Menu text */
/* The color of the space between search and menu */
/* Don't modify these */
/* these variables have been hard coded with pixel fallbacks
when appropriate and added to modules/nav.scss and module/search.scss
$searchType: Helvetica, Arial, sans-serif;
$mobileHeaderHeight: 4rem;
$searchHeight: 2rem;
$searchPositionTop: 2rem;
$searchPositionRight: 2rem; */
/*$ms-ratio: $major-third;*/
/*	LAYOUT
	====== */
@media screen {
  .u-Masthead__vassar--link {
    top: .8em; }

  .u-lFooter {
    clear: both; }

  .u-Container {
    position: relative; }

  .u-lHeader {
    padding: 4%; }

  .u-lFooter {
    padding: 4em 3%; }

  .galleria--content {
    margin: 0 0 2.5%; }

  .u-lContent,
  .u-lAside {
    padding: 4%; }

  .myDIV {
    display: none; }

  .jumplinks__list {
    padding: 1em 0; }

  .jumplinks__listitem {
    display: inline-block; }

  .jumplinks__link {
    display: block; }

  table.u-calendarMonth {
    width: 100%; }

  .u-calendarMonth td {
    display: block;
    width: 100%; }

  .u-calendarMonth thead td {
    display: none; } }
@media all and (min-width: 800px) {
  .u-calendarMonth td {
    width: 14%;
    display: table-cell; }

  .u-calendarMonth thead td {
    display: table-cell; } }
/*	SMALL
	----- */
@media all and (min-width: 37.5em) {
  .u-Search__field {
    width: 82%; }

  .u-lMain {
    width: 70%;
    float: right;
    padding: 3%; }

  .u-NavSite {
    width: 30%;
    float: left; }

  .u-lFooter {
    padding: 2em 3%; }

  .u-lHeader {
    padding: 3%; }

  .u-Masthead__siteName {
    margin-top: 1.4em; }

  .u-lContent,
  .u-lAside {
    padding: 0; }

  .u-Search {
    width: 22.85%;
    position: absolute;
    right: auto;
    top: 1em;
    left: 3%; }

  .u-Masthead svg {
    width: 100%;
    max-height: 20%; } }
/*	MEDIUM
	------ */
@media all and (min-width: 50em) {
  html {
    padding: 0 2% 2% 2%; }

  .u-lMain {
    width: 80%; }

  .u-NavSite {
    width: 20%; }

  .u-Masthead svg {
    max-width: 75%;
    max-height: 20%; } }
/*	LARGE
	----- */
@media all and (min-width: 62.5em) {
  body {
    max-width: 75em;
    margin: 0 auto; }

  .u-lAside {
    padding: 0;
    padding-left: 1%;
    width: 30%;
    float: right; }

  .u-lContent {
    padding: 0;
    padding-right: 2%;
    width: 70%;
    float: left; }

  .u-biosInner .u-lMain {
    width: 75%; }

  .u-biosInner .u-NavSite {
    width: 25%; }

  .home-slideshow-wrap {
    position: absolute;
    width: 76%;
    margin-top: -22%; }

  .u-pageHome .u-lAside,
  .u-pageHome .u-lContent {
    padding-top: 30%; } }
@media all and (min-width: 1040px) {
  .u-Masthead__siteName {
    margin-top: 0; }

  .u-Search {
    left: auto;
    right: 3%;
    top: 2em; } }
/* Home page slideshow */
.ph-slideshow-label-professional,
.ph-slideshow-label-apprentice {
  float: left; }

.ph-rotator-container {
  border: 6px solid #282828;
  overflow: hidden; }

.ph-apprentice-container {
  width: 35.85%;
  float: left; }

.ph-professional-container {
  width: 52.25%;
  float: left; }

.ph-slideshow-label-professional,
.ph-slideshow-label-apprentice {
  width: 5.95%; }

.galleria-stage {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.galleria-loader {
  background: none; }

.ph-slideshow-label-professional, .ph-slideshow-label-apprentice {
  width: 5.925%; }

.ph-apprentice-container img {
  margin-left: -2px; }

.ph-apprentice-container {
  width: 35.25%; }

.ph-professional-container {
  width: 51.25%;
  float: left; }

.ph-slideshow-label-apprentice {
  width: 5.825%; }

.galleria-container, .galleria {
  background: none !important; }

.ph-slideshow-label-professional, .ph-slideshow-label-apprentice {
  width: 5.825%; }

.u-ArticleListItem__label--type {
  display: none; }

.home-slideshow-wrap + h3 {
  clear: both; }

.home-slideshow-wrap {
  overflow: hidden;
  margin-bottom: 1em; }
